/* You can add global styles to this file, and also import other style files */

body {
  font: 16px sans-serif;
    -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 15px;
}
